@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --color-background: rgb(27, 24, 24);
  --color-header : #7159c1;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--color-header);
  color: #333;
}

header{
  text-align: center;
  padding: 24px;
  background-color: var(--color-background);
  box-sizing: border-box;
}

.links a{
  position: relative;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.links a + a{
  margin-left: 80px;
}

.links a:hover{
  color: var(--color-header);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-header);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: widtht;
}

.links a:hover::after {
  width: 100%;
  transition: width 1s ease;
}

/*
================
      cards
================
*/

.card{
  width: 50%;
  min-height: 400px;
  background-color: #ccc;

  margin: 64px auto;
  border-radius: 30px;

  display: grid;
  grid-template-columns: 2fr 3fr;

  box-shadow: 5px 5px 6px 3px rgba(0, 0, 0, 0.219);

  animation: direita 1000ms ease-in-out;
}

@keyframes direita{
  0%{
    opacity: 0;
    transform: translateX(-50px);
  }
  25%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.2;
  }
  75%{
    opacity: 0.4;
  }
  100%{
    opacity: 1.0;
  }
}

.photo {
  border-radius: 30px 0 0 30px;
}

.information{
  padding: 32px;
}

.information .item{
  border-bottom: 1px solid #777;
  padding: 16px;
}

.information .item:last-child{
  border: none;
}

.information .item  div:nth-child(1){
  font-size: 14px;
  line-height: 24px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.information .item div:nth-child(2){
  font-size: 18px;
  line-height: 24px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.information .item div:nth-child(2) span{
  padding: 8px;
  background-color: #9687c5;
  border-radius: 8px;
  margin-right: 12px;
  display: inline-block;
  margin-right: 24px;
  color: #111;
}

.information .item div:nth-child(2) span:hover{
  background-color: var(--color-header);
}

.information .item div:nth-child(2) .date,
.information .item div:nth-child(2) .type{
  font-weight: bold;
  background-color: #a89fc5;
}

.information h3{
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 24px;
}