@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --color-header: #5ddb37;
  --color-background : #7159c1;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--color-header);
  color: #333;
}

header{
  text-align: center;
  padding: 24px;
  background-color: var(--color-background);
  box-sizing: border-box;
}

.links a{
  position: relative;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

.links a + a{
  margin-left: 80px;
}

.links a:hover{
  color: var(--color-header);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-header);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: widtht;
}

.links a:hover::after {
  width: 100%;
  transition: width 1s ease;
}